.special-category {
    background: #63a50a; /* Couleur du thème SabatSfakys */
    color: white;
    text-align: center;
  }
  
  ion-item {
    cursor: pointer;
  }
  
  ion-accordion {
    border-bottom: 1px solid #ddd;
  }
  ion-content {
    --padding-top: 100px !important; 
  }