<ion-header>
  <ion-toolbar>
    <ion-title>Catégories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content-padding">
  <ion-segment [(ngModel)]="selectedCategory">
    <ion-segment-button value="shoes">
      <ion-label>Chaussures</ion-label>
    </ion-segment-button>
    <ion-segment-button value="handbags">
      <ion-label>Sacs à main</ion-label>
    </ion-segment-button>
    <ion-segment-button value="backpacks">
      <ion-label>Sacs à dos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="special-shoes">
      <ion-label>Spécial</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedCategory === 'shoes'">
    <h2>Chaussures</h2>
    <ion-list>
      <ion-item>👞 Homme</ion-item>
      <ion-item>👠 Femme</ion-item>
      <ion-item>👟 Enfant</ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectedCategory === 'handbags'">
    <h2>Sacs à main</h2>
    <ion-list>
      <ion-item>👜 Homme</ion-item>
      <ion-item>👜 Femme</ion-item>
      <ion-item>👜 Enfant</ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectedCategory === 'backpacks'">
    <h2>Sacs à dos</h2>
    <ion-list>
      <ion-item>🎒 Homme</ion-item>
      <ion-item>🎒 Femme</ion-item>
      <ion-item>🎒 Enfant</ion-item>
    </ion-list>
  </div>

  <div *ngIf="selectedCategory === 'special-shoes'">
    <h2>Chaussures pour besoins spécifiques</h2>
    <ion-list>
      <ion-item>🦽 Homme</ion-item>
      <ion-item>🦽 Femme</ion-item>
      <ion-item>🦽 Enfant</ion-item>
    </ion-list>
  </div>
</ion-content>
