ion-content {
  padding-top: 100px; /* Ajoute un espace en bas pour éviter que le contenu soit caché par le footer */
}
ion-toolbar {
    background-color: #63a50a !important; /* Fond blanc */
    color: #63a50a !important; /* Texte vert */
    border-bottom: 2px solid #63a50a; /* Ajoute une bordure verte pour démarquer le header */
  }
  
  ion-title, ion-searchbar {
    color: #63a50a !important; /* Texte en vert */
  }
  
  ion-icon {
    color: #63a50a !important; /* Icônes en vert */
  }
  
  ion-button {
    color: #63a50a !important; /* Boutons en vert */
  }
  
  .logo {
    height: 40px;
    margin-left: 10px;
  }

  .footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* S'assure que le footer est toujours visible */
  }
  
  .logout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  
 