<!-- ✅ MENU : S'affiche UNIQUEMENT sur les pages autorisées -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home-client">Accueil</ion-item>
      <ion-item routerLink="/products">Produits</ion-item>
      <ion-item routerLink="/favorites">Favoris</ion-item>
      <ion-item routerLink="/cart">Panier</ion-item>
      <ion-item routerLink="/orders">Commandes</ion-item>
      <ion-item (click)="logout()">Déconnexion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- ✅ ROUTER OUTLET -->

<ion-router-outlet id="main-content"></ion-router-outlet>

<!-- ✅ header et BARRE DE RECHERCHE : S'affiche uniquement sur les pages autorisées -->
<ion-header *ngIf="!isLoginPage">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <a href="#">
        <img src="assets/logo.png" alt="SabatSfakys" class="logo">
      </a>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Rechercher..." (ionInput)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- ✅ FOOTER - S'affiche uniquement si l'utilisateur est connecté -->
<ion-footer  class="footer-fixed" *ngIf="!isLoginPage">
    <ion-toolbar>
      <ion-grid >
        <ion-row class="ion-justify-content-around">
           <!-- Accueil -->
        <ion-col>
          <ion-button fill="clear" routerLink="/home-client ">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Catégories -->
        <ion-col>
          <ion-button fill="clear" routerLink="/categories">
            <ion-icon name="grid-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Favoris -->
        <ion-col>
          <ion-button fill="clear" routerLink="/favorites">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Panier -->
        <ion-col>
          <ion-button fill="clear" routerLink="/cart">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Profil -->
        <ion-col>
          <ion-button fill="clear" routerLink="/profile">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  
